.table-container {
    display: table;
}

.table-container .table-row {
    height: 100%;
    display: table-row;
}

.table-container .table-row .table-col {
    display: table-cell;
    float: none;
    vertical-align: top;
}

html, body {
    height: 100%;
    font-family: Audiowide;
    font-size: 18px;
    letter-spacing: 2px;
}

body {
    padding-top: 50px;
}

.container {
    width: 100%;
}

.navbar {
    background-color: #101010;
    color: white;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
}

.bloomberg-class {
    width: 75%;
    float: left;
    min-height: 1000px;
    background-color: #000000;
}

.bloomberg-class-chart-1 {
    padding-top: 30px;
}

.bloomberg-class-chart-2 {
    padding-top: 30px;
}

.user-list-class {
    width: 25%;
    float: right;
    min-height: 1000px;
    padding: 10px;
    background-color: #eeeeee;

}

.user-list-class-numbers {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.results-class {
    background-color: black;
    min-height: 1000px;
}

.zodis {
    padding: 30px;
}

.table > tbody > tr > td {
    border-top: 5px solid #000000;
}

.zodis-zodis {
    border: 5px solid #000000;
    font-size: 60px;
    color: red;
}

.circle
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 200px;
    color: white;
    line-height: 350px;
    text-align: center;
    background: black;
}

.zodis-laikas {
    margin:0 auto;
}
.zodis-button {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.label {
    font-weight: normal;
    color: black;
}

label {
    font-weight: normal;
}



[animate-on-change] {
    transition: all 1s;
    -webkit-transition: all 1s;
}

[animate-on-change].changed {
    background-color: red;
    transition: none;
    -webkit-transition: none;
}



/* NEWS */

#news_strip {
    width: 3500px;
    background-color: black;
    display: block;
    height: 32px;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    margin-left: -1000px;
}

#news_strip a {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    z-index: 1;
    position: absolute;
    top: 0px;
}

#news_strip a span {
    cursor: pointer;
    display: inline;
    color: white;
    font-weight: bold;
    padding-right: 5px;
    z-index: 1;
}

#news_strip a span.date {
    display: inline-block;
    font-weight: normal;
    color: #888888;
}

#news_strip a:hover span.title {
    text-decoration: underline;
}

/* The shadow DIVs of the sides are decorative and optional, but they add a very nice effect :) */

#news_strip div.shadow{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 100%;
    z-index: 5;
    background: #ffffff;
}

#news_strip div.shadow.left{
    left: 0px;
    -webkit-box-shadow: 10px 0px 10px #fff;
    -moz-box-shadow: 10px 0px 10px #fff;
    box-shadow: 10px 0px 10px #fff;
}

#news_strip div.shadow.right{
    right: 0px;
    -webkit-box-shadow: -10px 0px 10px #fff;
    -moz-box-shadow: -10px 0px 10px #fff;
    box-shadow: -10px 0px 10px #fff;
}