.table-container {
    display: table;
}

.table-container .table-row {
    height: 100%;
    display: table-row;
}

.table-container .table-row .table-col {
    display: table-cell;
    float: none;
    vertical-align: top;
}

html, body {
    height: 100%;
    font-family: Audiowide;
    font-size: 18px;
    letter-spacing: 2px;
}

body {
    padding-top: 50px;
}

.container {
    width: 100%;
}

.navbar {
    background-color: #101010;
    color: white;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
}

.bloomberg-class {
    position: fixed;

    min-height: 100%;
    background-color: white;
}

.user-list-class {
    position: fixed;
    left: 75%;
    min-height: 100%;
    padding: 10px;
    background-color: #eeeeee;

}

.user-list-class-numbers {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.label {
    font-weight: normal;
    color: black;
}

label {
    font-weight: normal;
}



[animate-on-change] {
    transition: all 1s;
    -webkit-transition: all 1s;
}

[animate-on-change].changed {
    background-color: red;
    transition: none;
    -webkit-transition: none;
}



/* NEWS */

#news_strip {
    width: 3500px;
    background-color: black;
    display: block;
    height: 32px;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    margin-left: -1000px;
}

#news_strip a {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    z-index: 1;
    position: absolute;
    top: 0px;
}

#news_strip a span {
    cursor: pointer;
    display: inline;
    color: white;
    font-weight: bold;
    padding-right: 5px;
    z-index: 1;
}

#news_strip a span.date {
    display: inline-block;
    font-weight: normal;
    color: #888888;
}

#news_strip a:hover span.title {
    text-decoration: underline;
}

/* The shadow DIVs of the sides are decorative and optional, but they add a very nice effect :) */

#news_strip div.shadow{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 100%;
    z-index: 5;
    background: #ffffff;
}

#news_strip div.shadow.left{
    left: 0px;
    -webkit-box-shadow: 10px 0px 10px #fff;
    -moz-box-shadow: 10px 0px 10px #fff;
    box-shadow: 10px 0px 10px #fff;
}

#news_strip div.shadow.right{
    right: 0px;
    -webkit-box-shadow: -10px 0px 10px #fff;
    -moz-box-shadow: -10px 0px 10px #fff;
    box-shadow: -10px 0px 10px #fff;
}