.table-container {
    display: table;
}

.table-container .table-row {
    height: 100%;
    display: table-row;
}

.table-container .table-row .table-col {
    display: table-cell;
    float: none;
    vertical-align: top;
}

html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

[animate-on-change] {
    transition: all 1s;
    -webkit-transition: all 1s;
}

[animate-on-change].changed {
    background-color: red;
    transition: none;
    -webkit-transition: none;
}