<div class="news-stringas">
    <news-string></news-string>
</div>
<div class="container">
    <div class="row">
        <div class="bloomberg-class col-lg-9 col-sm-9">
            <div class="row">
                <div class="bloomberg-class-chart-1 col-lg-5 col-sm-5">
                    <img class="img-responsive" src="{{tweet1}}" alt="Random picture" ><div>&nbsp;</div>
                    <img class="img-responsive" src="{{tweet2}}" alt="Random picture" ><div>&nbsp;</div>
                    <img class="img-responsive" src="{{tweet3}}" alt="Random picture" ><div>&nbsp;</div>
                </div>
                <div class="bloomberg-class-chart-2 col-lg-7 col-sm-7">
                    <img class="img-responsive" src="img/pictures/FOX_Stadium.jpg" alt="Random picture">
                </div>
            </div>
        </div>
        <div class="user-list-class col-lg-3 col-sm-3">
            <user-list></user-list>
        </div>
    </div>
</div>
