<div class="container">
    <div class="row">
        <div class="zodis col-lg-9 col-sm-9">
            <table class="zodis-table table">
                <tr>
                    <td class="zodis-zodis">{{message}}</td>
                </tr>
            </table>
            <div class="zodis-laikas">
                <div class="zodis-laikas circle"><span>15</span></div>
            </div>
            <div class="zodis-laikas">
                <button type="button" class="zodis-laikas zodis-button btn btn-danger">Danger</button>
            </div>
        </div>
        <div class="user-list-class col-lg-3 col-sm-3">
            <user-list></user-list>
        </div>
    </div>
</div>
