<div ng-if="!error" class="alert-danger">{{error}}</div>

<div ng-if="users">
    <div class="row" ng-repeat="user in users track by $index">
        <div class="col-xs-8" animate-on-change="users[$index]"><label>{{$index+1}}: {{user.name}}</label></div>
        <div class="user-list-class-numbers col-xs-4" animate-on-change="users[$index]">
            <span class="label">{{getPercent(user.points) == 'NaN' ? 0 : getPercent(user.points)}} %</span>
        </div>
        <!--div class="user-list-class-numbers col-xs-4" animate-on-change="users[$index]"><span class="label">{{user.money}}$</span></div-->
    </div>
</div>